body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  letter-spacing: 1px;
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

:root {
  --black: #212121;
  // --white: #f5f5f5;
  // --accent: #f4a25d;
  // --black:#1d2344;
  --white: #eeedec;
  --dark-grey: #373e47;
  --light-grey: #cccccc;
}

html,
body {
  background-color: var(--white);
  color: var(--black);
  font-weight: 200;
  transition: background ease-out 0.5s, color ease-out 0.5s;
}

body {
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-weight: 300;
  line-height: 1.25;
  color: #9b9b9b;
  letter-spacing: 0.05em;
  margin: 0.25rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 759px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }

  p {
    font-size: 1.125rem;
  }
}

#app-container {
  min-height: 100vh;
  display: flex;
}

li {
  line-height: 1.5;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}

a[data-active='false'] {
  opacity: 0.25;
}

a[data-active='true'],
a:hover {
  opacity: 1;
}

[data-theme='light'] {
  body {
    background: var(--white);
    color: var(--black);

    a {
      color: var(--black);
    }
  }
}

[data-theme='dark'] {
  body {
    background: var(--black);
    color: var(--white);

    a {
      color: var(--white);
    }
  }
}

.home {
  height: calc(100vh - 8rem);

  &>div {
    text-align: center;
  }
}

.bookmarks a {
  text-decoration: underline;
}

.bookmarks h2 {
  text-transform: uppercase;
  /* color: #333; */
  font-weight: bold;
}

.bookmarks h1 {
  text-transform: uppercase;
  /* color: #333; */
  font-weight: bold;
}

.bookmarks li {
  font-style: italic;
  /* color: #9b9b9b; */
}

.bookmarks li a {
  font-style: normal;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
  border-radius: 50% !important;
  max-width: 175px;
  margin-bottom: 2rem;

  [data-theme='dark'] & {
    border: 5px solid var(--white);
  }

  [data-theme='light'] & {
    border: 5px solid var(--black);
  }
}

.dm-toggle {
  position: fixed;
  top: 1.75rem;
  right: 2rem;

  svg {
    [data-theme='dark'] &>circle {
      fill: var(--white);
    }

    [data-theme='light'] &>circle {
      fill: var(--black);
    }

    [data-theme='dark'] & {
      color: var(--white);
    }

    [data-theme='light'] & {
      color: var(--black);
    }
  }
}

/* NAVIGATION */
.nav-container {
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translate(-100%);
  transition: transform 0.25s ease-in-out;
  display: flex;

  &[data-open='true'] {
    transform: translate(0%);
  }

  [data-theme='dark'] & {
    background-color: var(--white);
  }

  [data-theme='light'] & {
    background-color: var(--black);
  }

  @include desktop {
    position: sticky;
    transform: initial;
    background-color: initial !important;
  }

  ul {
    align-self: center;
    list-style: none;
    padding: 0 3rem;
    text-align: right;
    font-size: 1.35rem;

    li {
      margin-bottom: 2rem;

      // a[data-active='true'] {
      //   font-weight: bold;
      // }

      [data-theme='dark'] & a {
        color: var(--black);
      }

      [data-theme='light'] & a {
        color: var(--white);
      }

      @include desktop {
        [data-theme='dark'] & a {
          color: var(--white);
        }

        [data-theme='light'] & a {
          color: var(--black);
        }
      }
    }
  }
}

.burger {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;

  display: initial;

  @media (min-width: 769px) {
    display: none;
  }
}

[class*='meat-'] {
  position: absolute;
  width: 28px;
  height: 2px;
  top: calc(50% - 2px / 2);
  left: calc(50% - 28px / 2);
  transition: all 150ms ease-in;

  [data-theme='dark'] & {
    background: var(--white);
  }

  [data-theme='dark'] [data-open='true'] & {
    background: var(--black);
  }

  [data-theme='light'] & {
    background: var(--black);
  }

  [data-theme='light'] [data-open='true'] & {
    background: var(--white);
  }

  @include desktop {
    [data-theme='dark'] & {
      background: var(--white);
    }

    [data-theme='light'] & {
      background: var(--black);
    }
  }

  &.meat-1 {
    transform: translateY(-10px);

    [data-open='true'] & {
      transform: rotate(45deg);
    }
  }

  &.meat-2 {
    width: calc(28px - 6px);

    [data-open='true'] & {
      opacity: 0;
    }
  }

  &.meat-3 {
    transform: translateY(10px);

    [data-open='true'] & {
      transform: rotate(-45deg);
    }
  }
}

.socials {
  margin-top: 2.5rem;

  svg {
    [data-theme='dark'] & {
      fill: var(--white);
    }

    [data-theme='light'] & {
      fill: var(--black);
    }
  }

  a {
    display: inline-block;
  }

  a:not(:last-child) {
    margin-right: 2em;
  }
}

.page-container {
  display: flex;
  width: calc(100% - 3.5rem);
  margin: auto;
  justify-content: center;
  margin-top: 5rem;
  word-wrap: break-word;

  .content {
    width: 100%;
    max-width: 50rem;
    flex-wrap: nowrap;
  }
}

// sections
.home {
  align-items: center;
}

.repositories-list {
  display: flex;
  flex-wrap: wrap;

  .repository-card {
    width: 100%;
    margin: 1rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid;
    padding-bottom: 2.5rem;
    padding-top: 0;
    margin-top: 0;

    [data-theme='dark'] & {
      border-color: var(--light-grey);
    }

    [data-theme='light'] & {
      border-color: var(--light-grey);
    }
  }

  .name {
    font-size: 1.25rem;
    font-weight: normal;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.25s ease-out;
    }
  }

  .desc {
    font-style: italic;
    font-size: 0.9rem;
  }

  .starcount {
    font-size: 0.85rem;
    display: inline-block;
    margin-right: 1rem;
  }

  .info-list {
    font-size: 0.8rem;
    margin-top: 1rem;

    &>span {
      margin-right: 1rem;
    }

    .title {
      font-size: 0.8rem;
      margin: 0;
      padding: 0;
    }

    .lang-bars {
      .bar {
        display: inline-block;
        height: 5px;
      }
    }

    .lang-wrp {
      .lang {}

      .dot {
        display: inline-block;
        margin-right: 5px;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 0.75rem;
      }
    }
  }
}

.pill {
  margin-left: 0.5rem;
  position: relative;
  font-size: 0.6rem;
  padding: 0.15rem 0.5rem;
  top: -0.15rem;
  border-radius: 1rem;
  display: inline-block;
  border: 1px solid;

  [data-theme='dark'] & {
    border-color: var(--white);
  }

  [data-theme='light'] & {
    border-color: var(--dark-grey);
  }
}

.blog-post {

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
      transition: ease-out .25s opacity;
    }
  }

  .tag {
    padding: 0 5px 0 0;
  }

  .post-body {
    margin-top: 4rem;
  }
}
