/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"); */

:root {
  --black: #212121;
  --white: #F5F5F5;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-weight: 200;
  transition: background ease-out .5s,color ease-out .5s;
}

body {
  font-size: 14px;
  line-height: 1.4;
}
h1 {
  margin: 0;
  font-weight: 600;
}
h2 {
  font-weight: 300;
  line-height: 1.25;
  color: #9b9b9b;
  letter-spacing: 0.05em;
  margin: .25rem 0 1rem 0 ;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
@media (max-width: 759px)  {
  body {
    font-size: 16px;
    line-height: 1.6;
  }

  p {
    font-size: 1.125rem;
  }
}

/* #__next {
  height: 100%;
} */

li {
  line-height: 1.5;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}
body.light-mode a {
  color: var(--black);
}
body.dark-mode a {
  color: var(--white);
}

a:active,
a:hover {
  opacity: .5;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


body.light-mode {
  background: var(--white);
  color: var(--black);
}
body.dark-mode {
  background: var(--black);
  color: var(--white);
}

.home {
  height: calc(100vh - 8rem);
}

.bookmarks a{
  text-decoration: underline;
}

.bookmarks h2 {
  text-transform: uppercase;
  /* color: #333; */
  font-weight: bold;
}

.bookmarks h1 {
  text-transform: uppercase;
  /* color: #333; */
  font-weight: bold;
}

.bookmarks li{
  font-style: italic;
  /* color: #9b9b9b; */
}
.bookmarks li a{
  font-style:normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  flex-direction: row;
}
.content {
  max-width: 75rem;
  width: 50%;
}

.avatar{
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
  border-radius: 50% !important;
  max-width: 150px;
  width: 100%;
  border: 5px solid white;
}


.root {
  display: block;
  padding: 4rem 0;
  box-sizing: border-box;
  height: 100%;
}
main {
  display: flex;
  min-height: 100%;
}

.dm-toggle {
  margin: 1.125rem 2rem;
}

@media (min-width: 769px) {
  .root {
    display: flex;
    flex: 1 0 auto;
  }
  main {
    flex: 1 0 auto;
  }

  .dm-toggle {
    margin: 4rem;
  }
}

/* NAVIGATION */
.nav-container {
  width: 0;
}
ul {
  opacity: 0;
  width: 100%;
  height: 100vh;
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transform: translateX(100%);
  transition: opacity 200ms;
}
.active ul {
  opacity: 1;
  transform: translateX(0);
  background: white;
  transition: all ease-out 0.35s;
}
li {
  margin-bottom: 1.75rem;
  font-size: 2rem;
  padding: 0 1.5rem 0 0;
}
li:last-child {
  margin-bottom: 0;
}
.active {
  font-weight: 500;
}

@media (min-width: 769px) {
  .nav-container {
    width: 7rem;
    display: block;
  }
  ul {
    opacity: 1;
    width: 7rem;
    top: auto;
    display: block;
    transform: translateX(0);
  }
  li {
    font-size: 1rem;
    padding: 0;
  }
}
